body
{
	background: #CCC;
}
#header a:hover
{
	color: white;
}
#bg-img
{
	background: url("Images/12.jpg");
	background-size: 100%;
	background-repeat: no-repeat;
	min-height: 500px;
}
@media only screen and (max-width: 600px)
{
	#me
	{
		display: none;
	}
	#meh,#mep
	{
		margin-left: 7px;
	}
} 


@media only screen and (min-width: 1200px)
{
	#About
{
	margin-top: -210px;
}
}
@media only screen and (max-width: 600px)
{
 #About
 {
 	margin-top: -330px;
 }
}
@media only screen and (min-width: 600px) and (max-width: 900px) 
{
	#About
	{
		margin-top: -240px;
	}
}
#About .fa
{
	color:white;
	text-decoration: none;
}
.social:hover {
     -webkit-transform: scale(1.2);
     -moz-transform: scale(1.2);
     -o-transform: scale(1.2);
 }
 .social {
     -webkit-transform: scale(0.8);
     /* Browser Variations: */
     
     -moz-transform: scale(0.8);
     -o-transform: scale(0.8);
     -webkit-transition-duration: 0.5s;
     -moz-transition-duration: 0.5s;
     -o-transition-duration: 0.5s;
 }
#About span
{
	padding: 10px 20px 10px 20px;
}
#About hr
{
	border-width: 2px;
	margin-top: 6px;
}
#Skills span
{
	padding: 10px 20px 10px 20px;
}
#Skills hr
{
	border-width: 2px;
	margin-top: 6px;
}
#Works span
{
	padding: 10px 20px 10px 20px;
}
#Works hr
{
	border-width: 2px;
	margin-top: 6px;
}
#Works .card
{
	border-top: 3px solid #d63031;
}
#Contact span
{
	padding: 10px 20px 10px 20px;
}
#Contact hr
{
	border-width: 2px;
	margin-top: 6px;
}
#Footern
{
	font-weight: bold;
	color: black;
}
#Footern:hover
{
	color:#9999ff;
}